#inversionistas{
  font-family: 'DM Sans', sans-serif;
  color: #3B4848;
}

.card:hover{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.profile-box{
  background-size:cover;
  float:left;
  width:100%; 
  text-align:center; 
  padding:30px 0; 
  position:relative; 
  overflow:hidden;
}

.profile-box img{
  width:170px; 
  height:170px; 
  position:relative; 
}

.social-box i {
  border:1px solid #747474;
  color:#747474;
  width:30px; 
  height:30px; 
  border-radius:50%;
  line-height:30px;
}

.social-box i:hover{
  background:#B8B8B7;
  color:#fff;
}

.social-box a{
  margin: 0 5px;
}









